<div class="tabla-reporte">
    <table>
    <thead>
        <tr>
        <th>Cochera</th>
        <th>Patente</th>
        <th>Fecha</th>
        <th>Cobrado</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let transaccion of this.dataEstacionamientoService.ultimasTransacciones">
        <td>{{ transaccion.idCochera }}</td>
        <td>{{ transaccion.patente }}</td>
        <td>{{ transaccion.horaIngreso ? (transaccion.horaEgreso | date:'dd/MM/yyyy') : '-' }}</td>
        <td>{{ transaccion.costo ? (transaccion.costo | currency) : '-' }}</td>
        </tr>
    </tbody>
    </table>
