<main>
    <h1>Estacionamiento <br>[Nombre]</h1>
    <div class="menumargen">
        <div>
            <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" class="login">
                <p>Usuario</p>
                <input type="text" name="usuario" ngModel required>
                <input type="password" name="password" placeholder="Ingresar Contraseña"ngModel required>
                <div class="Botones">
                    <button [disabled]="loginForm.invalid" class="botonresaltado" type="submit" >Iniciar Sesion</button>
                    @if(errorLogin){
                        <p>Error en login</p>
                    }
                    <a [routerLink]="['/register']"> Registrarse</a>
                </div>
            </form>
        </div>

    </div>
</main>