<main>
    <h1>Estacionamiento <br>Austral</h1>
    <div class="menumargen">
        <div>
            <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" class="login">
                <input type="text" id="username" placeholder="Usuario" name="username" ngModel required>
            <input type="password" id="password" placeholder="Contraseña" name="password" ngModel required>
                <div class="Botones">
                    <button [disabled]="loginForm.invalid" class="botonresaltado" type="submit" >Iniciar Sesion</button>
                    @if(errorLogin){
                        <p>Error en login</p>
                    }
                    <a [routerLink]="['/register']"> Registrarse</a>
                </div>
            </form>
        </div>

    </div>
</main>