header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #f8f9fa;
  border-bottom: 2px solid #ddd;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

h1 {
  font-size: 32px;
  margin: 0;
  color: #333;
  font-weight: 600;
}

header nav a {
  text-decoration: none;
  font-size: 20px;
  color: #16a2a7;
  font-weight: bold;
  margin-right: 20px;
  transition: color 0.3s ease;
}

nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

header nav a:last-child {
  margin-right: 0;
}

header nav a:hover {
  color: #1d9b9b;
}

.bobycochera {
  font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fefefe;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.usuario {
  position: relative;
  display: flex;
  align-items: center;
}

.dropdown {
  display: none;
  position: absolute;
  top: 50px; /* Ajusta la posición del menú hacia abajo */
  right: 0;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  z-index: 100;
  white-space: nowrap; /* Para evitar que el texto se divida en varias líneas */
}

.dropdown.active {
  display: block; /* Mostrar el menú solo cuando está activo */
}

button {
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #1e88e5;
  color: white;
  font-size: 14px;
  border: none;
  cursor: pointer;
  margin-top: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1565c0;
}

.user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  margin-left: 10px; /* Añadir un pequeño margen entre el ícono y los textos */
}
