<div class="bobycochera">
    <header>
        <h1>PARKING APP</h1>
        <nav>
            <a [routerLink]="['/EstadoCochera']" routerLinkActive="link-activo">Estado Cocheras</a>
            @if(isAdmin){
                <a [routerLink]="['/reporte']" routerLinkActive="link-activo" >Reportes</a>
                <a [routerLink]="['/precios']" routerLinkActive="link-activo" >Precios</a>
            }
            <div class="usuario">
                <a>Usuario</a>
                <div class="dropdown">
                    <button (click)="cerrarSesion()">Cerrar sesión</button>
                </div>
            </div>
        </nav>
    </header>
    <router-outlet/>
</div>
